server:
  config:
    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: 512
      datastores:
        default:
          sql:
            pluginName: ${db_plugin_name}
            driverName: ${db_driver_name}
            databaseName: ${temporal_db_name}
            connectAddr: "${temporal_db_host}:${temporal_db_port}"
            connectProtocol: "tcp"
            user: ${temporal_db_user}
            password: "${temporal_db_password}"
            maxConns: 80
            maxConnLifetime: "1h"
        visibility:
          sql:
            pluginName: ${db_plugin_name}
            driverName: ${db_driver_name}
            databaseName: ${temporal_visibility_db_name}
            connectAddr: "${temporal_db_host}:${temporal_db_port}"
            connectProtocol: "tcp"
            user: ${temporal_db_user}
            password: "${temporal_db_password}"
            maxConns: 80
            maxConnLifetime: "1h"

# Explicitly disable Cassandra
cassandra:
  enabled: false
%{ if use_traefik_ingress && length(domain_name) > 0 }
web:
  ingress:
    enabled: true
    className: traefik
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.frontend.rule.type: PathPrefix
    hosts:
      - "${domain_name}/temporal"
    tls:
      - secretName: ingress-tls
        hosts:
          - ${domain_name}
  additionalEnv:
    - name: TEMPORAL_UI_PUBLIC_PATH
      value: "/temporal"
%{ endif }
